@charset "utf-8";
/* CSS Document */
.post:nth-child(3){
}
/*版面結構*/
body{
	padding: 0 10px;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress;
	cursor: url(https://drv.tw/~login0516@gmail.com/gd/www/web/CUR/1zOqB5JBeT3nmnDw_cMmqyeiQCqDJYLbr), progress;
	cursor: url(https://i.imgur.com/fAk0tpA.png), auto;
	 /*pro是替代游標*/
	
	cursor: url(https://i.imgur.com/U0w3DMJ.png), auto; 	/*藍色貓爪*/
	cursor: url(https://i.imgur.com/7PzAN2U.png), auto;		/*藍色貓爪*/
	
	
	cursor: url(https://i.imgur.com/4u5MPZA.png), progress; /*紅色貓爪*/
	cursor: url(https://i.imgur.com/YLZjGOc.png), auto;		/*紅色貓爪*/
	

	background-image:url('../images/蘋果壁紙49頁B.png');
	background-image:url('../images/壁紙C.png');
	background-image:url('../images/壁紙C-okk.png');
	/*背景圖片不重覆出現，也就是只出現一次。*/
	background-repeat:no-repeat;
	/*水平位置+垂直未置------靠左px+靠上px-------0%置左50%置中100%置右*/
	background-position:50% 50%;
	/*設定底圖的大小*/
	background-size:100% 100%;
	
	background-attachment:scroll; /*背景圖片不影響*/
	background-attachment:fixed;   /*隨滑鼠滾動*/
	
　   background-color: 背景顏色;
	
}
/*a::hover{*/
a{
	cursor: url(https://i.imgur.com/7PzAN2U.png), auto;		/*藍色貓爪*/
}

#wrapper{
	width: 880px;
	margin: 0 auto;  /*不設外高*/
}

#header{
	/*繼承width*/
	height: 70px;      /*70+20+20=110*/   
	margin: 20px 0;    /*無顏色*/
	/*background-color: #b7cfff;  */
}

#logoA{
	/*float*/
	width: 430px;
	/*  顯示區塊---調整文字需要高度---非常重要
		height: 70px;      				
		background-color: #b7cfff;
	*/
	line-height:  59px;			      /*文字--高度置中*/  
	
	/*background-color: #b7cfff;*/


}
#logoA h1:hover{
	font-size: 61px;
}

#logoB{
	/*float*/
	width: 450px;  /*430+20*/
	
	border-radius:  11px;
	background-color: #bccfd0;
	margin: 25px 0px 0 0px;
}
#logoB img{
	
	/*display:block;*/   /*更換元素為block*/   /*可以自訂寬高*/
	width:  35px;
	height: 35px;
	/*background-color: #fcbcb8;*/
	margin: 5px 20px 5px 20px;
	

	
	float:left;     /*用於2層式DIV*/ /*漂浮--向左對齊*/   /*所以不會換行A標籤成一行*/
	
	
}








#nav{
	/*vertical-align:bottom;*//*不知道怎麼用*/
	/*繼承width*/
	height: 40px;
	background-color: #b7cfff;
	/*text-transform:uppercase;      英文字母都是大血*/
	/*font-style:italic;             字體斜線*/
	padding: 0 110px;   			/*和寬高一樣---會有底色*/
	margin: 0;
	
	border-radius:  19px 19px 0 0; 
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress;    /*藍色箭頭*/
	
}

#nav li a{
	
	display:block;   /*更換元素為block*/   /*可以自訂寬高*/
	/*width:  170px;*/	 
	height: 40px;
	/*background-color: #fcbcb8;*/
	
	/*float:left;*/      /*漂浮--向左對齊*/   /*所以不會換行A標籤成一行*/
	
	font-size: 20px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight:bold;
	
	/*color: #9f4f6a;*/
	/*color: #f90;*/
	
	line-height:  40px;    		/*依照高度--重新調整*/
	
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress;		/*藍色箭頭*/
	
	/*background-color: #f90;*/
	/*邊框*/
	/*border-top: 10px solid rgba(100%,100%,100%,0.4);	
 	border-right: 10px solid rgba(55%,55%,65%,0.4);
 	border-bottom: 10px solid rgba(30%,30%,40%,0.4);
 	border-left: 10px solid rgba(80%,80%,90%,0.4);*/
}
/*代表ID-NAV*/
.text-center a:hover{
	background-color: #e5ade8;
}
.NA a{
	float:left;
	width:  170px;
	color: #9f4f6a;
}

/*選單1*/
.NB a{
	/*color: #f90;*/
	
}

.NB  a:hover{
	color: #FFFFFF;
	/*opacity:0;*/
	
}
.text-A a:hover{
	/*padding: 0 110px; */
	color: #f90;
	background-color: #F4D69D;
}
.text-C a:hover{
	color: #09c;
	background-color: #51C8C2;
}
.text-B a:hover{
	color: #3c0;
	background-color: #92E799;
}
.aQ{
	background-color: #e5ade8;
}
.bQ{
	background-color: #b7cfff;
}


/*黑色子框*/
#nav2{
	/*重疊*/
	position:absolute;
	/*right:0px;
	bottom:445px;*/
	z-index:-2;
	/*表示位置--不是大小*/
	margin:40px 0 0 -110px;
	
	
	width:860px;	/*880-20*/		/*170*3=510+30=540*//*860-540=320*/
	height:40px;	/*60-20*/
	
	background-color: #3F3B3B;
	opacity:0.8;
	border-top: 10px solid rgba(100%,100%,100%,0.4);	
 	border-right: 10px solid rgba(55%,55%,65%,0.4);
 	border-bottom: 10px solid rgba(30%,30%,40%,0.4);
 	border-left: 10px solid rgba(80%,80%,90%,0.4);
}
#nav3{
	/*重疊*/
	position:absolute;
	/*right:0px;
	bottom:445px;*/
	z-index:-2;
	/*表示位置--不是大小*/
	margin:40px 0 0 -110px;
	
	
	width:860px;	/*880-20*/		/*170*3=510+30=540*//*860-540=320*/
	height:40px;	/*60-20*/
	
	background-color: #3F3B3B;
	opacity:0.8;
	border-top: 10px solid rgba(100%,100%,100%,0.4);	
 	border-right: 10px solid rgba(55%,55%,65%,0.4);
 	border-bottom: 10px solid rgba(30%,30%,40%,0.4);
 	border-left: 10px solid rgba(80%,80%,90%,0.4);
}
#nav5{
	/*重疊*/
	position:absolute;
	/*right:0px;
	bottom:445px;*/
	z-index:-2;
	/*表示位置--不是大小*/
	margin:40px 0 0 -110px;
	
	
	width:860px;	/*880-20*/		/*170*3=510+30=540*//*860-540=320*/
	height:40px;	/*60-20*/
	
	background-color: #3F3B3B;
	opacity:0.8;
	border-top: 10px solid rgba(100%,100%,100%,0.4);	
 	border-right: 10px solid rgba(55%,55%,65%,0.4);
 	border-bottom: 10px solid rgba(30%,30%,40%,0.4);
 	border-left: 10px solid rgba(80%,80%,90%,0.4);	
}
#nav5 a{
	float:right;
}
/**/

.text-A a{
	border-right: 10px solid rgba(55%,55%,65%,0.4);
}
.text-B a{
	border-left: 10px solid rgba(55%,55%,65%,0.4);
}
.text-C{
	padding:0 235px;
	/*margin:0 auto;*/
}
.text-C a{
	/*padding:0 235px;*/	/*180*2=360+50=410-880=470*2=235*/
	border-left: 10px solid rgba(55%,55%,65%,0.4);
}
/*a標籤*//*2個ID--只會執行第一個*/
#endB,#endC,#endD{
	border-right: 0px;
}
#text-endC{
	border-right: 10px solid rgba(55%,55%,65%,0.4);
}


/*
#endB  a:hover{
	background-color: #3F3B3B;
}*/



#banner{
	/*position:absolute;*/
	z-index:1;
	/*繼承width*/
	height: 310px;
	
	margin: 0 0 20px 0;
	
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress;    /*藍色箭頭*/ /*DIV讓他底層繼承*/
}
#banner img{
	
    /*border-radius: 50%;*/
	
	/*border-radius:  9px;*/
    
	/*background-repeat: no-repeat;*/
	/*標籤img在DIV外面---所以設他*/
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress;		/*藍色箭頭*/ /*DIV+IMG*/
}
#contentA{
	height:auto;
}
#contentB{
	
}
#contentC{
}

.TextBlock{
	float:left;
	width:  880px;
	height: 40px;
	
	background-color: #a04863;
	background-color:#644850;
	color:#fcbcb8;
	font-weight:bold; 	 /*粗體*/
}

.postA{
	float:left;
	padding: 20px 20px 0 20px;/*  40*/
	width:  390px;   /*390+40=430*/
	height: 290px;   /*290+40=330*/
	
	background-color: #e7bdc7;
}
.postA img{
	float:left;
	width:390px;	 /*430-40*/
	height:150px;    /*190-40*/
	
	border-radius:  9px;
	/*padding: 20px;*/  /*會和border-radius衝突*/  /*而且這是圖內顏色-語法也錯誤*/
}
.postA h2{
	margin-top: 20px;
	float:left;
	width:100%;		/*預設是auto*/
	height: 50px;
	/*background-color: #5CD952;*/
	color:#ec89a5;
	font-weight:bold;
}
.postA a{
	margin: 20px 130px;   /*150-20=130  因為A有padd*/
	text-align:center;
	float:left;
	width: 130px;		/*預設是auto*/
	height: 30px;
	background-color: #feebb6;
	
	font-size: 24px;
	line-height:  30px;    		/*依照高度--重新調整*/
	color:#e59f3a;
	
	border-radius:  11px;
}
.postA:hover{
	background-color: #d2fafc;
}
.postA:hover h2{
	color: #28d9ca;
}

.postB{
	float:left;
	padding: 20px 20px 0 20px;/*  40*/
	width:  240px;				/*240+40=280*/
	height: 290px;				/*290+40=330*/
	background-color: #e7bdc7;
	

}
.postB img{
	/*display:block;*/
	
	float:left;
	width:240px;     /*280-40*/
	height:150px;	 /*190-40*/
	
	/*padding: 20px;*/
	border-radius:  9px;
}
.postB h2{
	margin-top: 20px;
	float:left;
	width:100%;		/*預設是auto*/
	height: 50px;
	/*background-color: #5CD952;*/
	color:#ec89a5;
	font-weight:bold;
}
.postB a{
	margin: 20px 55px;	/*75-20=55  因為A有padd*/
	text-align:center;
	float:left;
	width: 130px;		/*預設是auto*/
	height: 30px;
	background-color: #feebb6;
	
	font-size: 24px;
	line-height:  30px;    		/*依照高度--重新調整*/
	color:#e59f3a;
	
	border-radius:  11px;
}
.postB:hover{
	background-color: #d2fafc;
}
.postB:hover h2{
	color: #28d9ca;
}


#footer{
	width:  880px;
	height: 40px;
	
	background-color: #a04863;
	color:#fcbcb8;
	font-weight:bold; 	 /*粗體*/
}
#footer li a{
	float:left;
	
	display:block;   /*更換元素為block*/   /*可以自訂寬高*/
	width:  280px;
	height: 40px;
	background-color: #fcbcb8;
	background-color: #a04863;

	
	float:left;      /*漂浮--向左對齊*/   /*所以不會換行A標籤成一行*/
	
	font-size: 20px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight:bold;
	color:#fd7e8b;
	
	line-height:  40px;    		/*依照高度--重新調整*/
}
#footer li a:hover{
	/*background-color: #e5ade8;*/
	color:#e5ade8;
}
/*TOP圖*/
#gotop{
	position:fixed;
	right:20px;
	bottom:50px;
	z-index:100;
}
/*練習*/
#gotop:focus{
	/*z-index:98;*/
}
body:hover #gotop{
	/*z-index:100;*/
}
#gotop:hover{
	z-index:98;
}
#gotop:hover{}

#gott{
	position:fixed;
	right:20px;
	bottom:50px;
	z-index:99;
}
